<!DOCTYPE HTML>
<html lang="pt-BR">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="apple-mobile-web-app-capable" content="yes">

	<title>Workout - Log de Exercício</title>

	<link rel="stylesheet" href="stylesheets/styles.css">

	<script type="text/javascript" src="javascripts/vendor/jquery.js"></script>
	<script type="text/javascript" src="javascripts/vendor/jquery.validate.js"></script>
	<script type="text/javascript" src="javascripts/vendor/jquery.masked.js"></script>
	<script type="text/javascript" src="javascripts/vendor/underscore.js"></script>
	<script type="text/javascript" src="javascripts/vendor/backbone.js"></script>
	<script type="text/javascript" src="javascripts/vendor/backbone.localstorage.js"></script>

	<script type="text/javascript" src="javascripts/functions.js"></script>
	<script type="text/javascript" src="javascripts/app.js"></script>

</head> 
<body>

	<div id="app">

		<div id="wrapper">
			
			<div id="wrap">

				<header>
					<h1>Log de Exercício</h1>
				</header>

				<form action="#" id="new-activity" class="form">

					<fieldset>

						<legend>Adicionar Atividade</legend>

						<ul>
							<li>
								<label for="time">Tempo</label>
								<input type="text" pattern="[0-9]*" name="time" id="time" placeholder="min" class="required" title="Entre com o tempo da atividade." min="1" maxlength="3">
							</li>
							<li>
								<label for="exercise">Exercício</label>
								<select name="exercise" id="exercise">
									<option value="Caminhada">Caminhada</option>
									<option value="Corrida">Corrida</option>
									<option value="Bicicleta">Bicicleta</option>
									<option value="Natação">Natação</option>
									<option value="Tênis">Tênis</option>
								</select>
							</li>
							<li>
								<label for="date">Data</label>
								<input type="text" pattern="[0-9]*" name="date" id="date" class="required" data="true" title="Entre com a data em que praticou o exercício.">
							</li>
							<li>
								<input type="submit" value="Adicionar" class="btn btn-primary">
							</li>
						</ul>

					</fieldset>

					<div id="message"></div>
				</form>

				<table id="activities">
					<thead>
						<tr>
							<th>Tempo</th>
							<th>Atividade</th>
							<th>Data</th>
							<th>Ações</th>
						</tr>
					</thead>
					<tbody></tbody>
				</table>

				<footer id="total-activities">
					<h2>Você não fez nenhuma atividade ainda!</h2>
				</footer>

			</div>
	
		</div>

		<script type="text/template" id="activitiesTemplate">

			<% for(var i in data) { var activity = data[i] %>

			<tr>
				<td><%= activity.time %> <small>min</small></td>
				<td><%= activity.exercise %></td>
				<td><%= activity.date %></td>
				<td><a href="#" data-id="<%= activity.id %>" class="delete-activity"><i>&times;</i> Excluir</a></td>
			</tr>

			<% } %>

		</script>

		<script type="text/template" id="totalTemplate">

			<h2>Você já fez <strong><%= total %></strong> entre todos os exercícios!</h2>

		</script>
	
	</div>

	<script type="text/javascript">
		$(function() {

			new AppView({ el: $('#app') });

			$("#date").mask("99/99/9999");

			$("#new-activity").validate({
				errorLabelContainer: "#message",
				focusInvalid: false,
				onfocusout: false,
				onkeyup: false
			});
		});
	</script>

</body>
</html>